Package: biglinux-wallpapers
Version: 1.7.1-1big6
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:7312
Description: BigLinux Wallpapers


